<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>пункти танцювальності</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div id="app">
    <div id="account" v-if="!authorId">
        <summary>залогінитись в систему</summary>
        користувач:{{ authorId }} <input type="text" placeholder="username" v-model="username">
        <input type="password" v-model="password" placeholder="password">
        <button v-on:click="getPermissions">зайти</button>
    </div>

    <section class="section">
        <div class="container">
            <div id="addEvent">
                <input type="text" minlength="8" v-model="title" placeholder="назва танцювальної вечірки">
                <input v-model="start" type="text" maxlength="5" placeholder="час початку вечірки">
                <select v-model="weekdayId" required>
                    <option value="-1" selected disabled>день тижня</option>
                    <option v-for="item, index  in weekdays" :value="index">{{ item }}</option>
                </select>
                <select v-model="location" required>
                    <option value="" selected disabled>місце проведення</option>
                    <option v-for="item  in locations" :value="item">{{ item }}</option>
                </select>
                <select v-model="balance" required>
                    <option value="не визначено" selected disabled>баланс музики</option>
                    <option v-for="item  in balances" :value="item">{{ item }}</option>
                </select>

                <br><textarea v-model="full" style="width: 80%" placeholder="детальний опис події"></textarea>

                <div v-if="authorMode">

                </div>
                <div v-if="superAdmin">
                    <input type="text" minlength="2" v-model="price"
                           placeholder="вартість: мінімальна-максимальна ціна">
                    <input type="text" v-model="brief" placeholder="стислий опис">
                    author: <select v-model="authorId">
                    <option>cherk</option>
                </select>
                </div>
                <button v-on:click="insertEvent">додати вечірку</button>
            </div>

            <div v-for="e, index in events">
                <div v-if="!e.editMode"><strong>{{ e.title }}</strong> {{ e.weekday }} початок: {{ e.start }}
                     адреса: {{ e.location }}
                    ціна: {{ e.price }}
                    <pre>{{ e.full }}</pre>

                </div>
                <h2 v-else>
                    <input type="text" v-model="e.title">

                    <br><textarea style="width: 80%" v-model="e.full"></textarea>
                    <button v-on:click="saveEvent(index)">Зберегти зміни</button>
                </h2>
                <div v-if="authorMode && ( authorId===e.authorId || superAdmin)">
                    <button v-on:click="editEvent(index)" class="button is-primary">edit</button>
                    <button v-on:click="remove(e.id)" class="button">delete</button>
                </div>
                <hr>
            </div>

        </div>
    </section>
</div>
<script>
    let app = new Vue({
        el: '#app',
        created: function () {
            this.getEvents()
        },
        data: {
            message: 'hello, events',
            authorId: "",
            username: 'cherk', password: 'C8C4573806',
            currentEventId: -1,
            title: "", full: "", location: "", weekdayId: -1, weekday:"понеділок", start: null, balance: "не визначено",
            superAdmin: true, authorMode: true,

            brief: null, price: null,
            events: [],
            weekdays: ["понеділок", "вівторок", "середа", "четвер", "пʼятниця", "субота", "неділя"],
            balances: ["3 бачати, 1 сальса", "1 сальса, 1 бачата", "зук", "кізомба","не визначено"],
            locations: ["кампус", "буена", "арт-кафе золоті ворота"]
        },
        methods: {
            getEvents: function () {
                fetch("/api/events").then((response) => {
                    return response.json();
                }).then((data) => {
                    for (let event of data) {
                        event.editMode = false
                        event.id = event._id.$oid
                    }
                    this.events = data
                    console.log(data)
                })
            },

            getPermissions: function () {
                const requestOptions = {
                    method: "GET",
                };
                fetch(`/api/user/?username=${this.username}&password=${this.password}`).then((response) => {
                    return response.json();
                }).then((data) => {
                    console.log(data)
                    this.authorId = data.authorId
                    this.authorMode = data.authorId > 0 || data.superAdmin
                    this.superAdmin = data.superAdmin
                })
            },

            insertEvent: function () {
                const body = {
                    title: this.title,
                    price: this.price,
                    balance: this.balance,
                    full: this.full,
                    authorId: this.authorId,
                    published: this.authorId.length > 0
                }
                if (this.weekdayId>-1){
                    body.weekdayId = this.weekdayId
                    body.weekday = this.weekdays[this.weekdayId]
                }
                if (this.location){
                    body.location = this.location
                }

                console.log(body)
                const requestOptions = {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(body)
                }
                fetch("/api/event", requestOptions).then(() => {
                    this.getEvents()
                })
            },

            editEvent: function (index) {
                //alert("let's edit " + index)
                this.events[index].editMode = true
                console.log(this.events)
            },
            saveEvent: function (index) {
                this.events[index].editMode = false
            },

            remove: function (id) {
                console.log('deleting ' + id)
                //if (!confirm('Ви впевнені, що хочете видалити вечірку?')) {return // Do nothing!}

                const requestOptions = {
                    method: "DELETE",
                    headers: {"Content-Type": "application/json"},
                };
                fetch("/api/event/" + id, requestOptions).then(() => {this.getEvents()})
            },
        }
    })
</script>
</body>
</html>